

div > img {
    max-height: 100px;
    max-width: 100px;
}

#abilities {
    justify-content: center;
}

.ability-b {
    background-color: rgb(150, 76, 10);
}

.ability-w {
    background-color: white;
}

.ability-t {
    background-color: teal;
}

.ability-y {
    background-color: yellow;
}

.ability-p {
    background-color: pink;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.middle-row > * {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    margin: 0;
}

.name-row {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}

.name-row > p {
    margin: 0;
}

.image-row > div {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5px 0px;
}

.image-row > div > img {
    width: 100%;
}
