.board {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    height: 100vh;
    grid-auto-rows: max-content;
    grid-auto-columns: max-content;
}

.board > * {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: center;
    position: relative;
}

.forest > *, .grassland > *, .wetland > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.forest {
    background-color: rgba(44, 233, 2, 0.4);
}

.grassland {
    background-color: rgba(233, 214, 2, 0.4);
}

.wetland {
    background-color: rgba(2, 152, 233, 0.4);
}

.nectar {
    background-color: pink;
}