{% load static %}

<link rel="stylesheet" href="{% static 'aviary/css/end_of_round_goals.css' %}">
<link rel="stylesheet" href="{% static 'aviary/css/button.css' %}">

<div class="navbar">
    <a href="" class="button" id="bonus">Bonus Cards</a>
    <a href="" class="button" id="edit">Edit Goals</a>
    <a href="{% url 'board' board.pk %}" class="button" id="board">Board</a>
</div>
<div class="body">
    <div class="round">
        <h1>Round 1</h1>
        {% if board.end_of_round_1_goal %}
            <h3>{{ board.end_of_round_1_goal.goal }}</h3>
        {% endif %}
    </div>
    <div class="round">
        <h1>Round 2</h1>
        {% if board.end_of_round_2_goal %}
            <h3>{{ board.end_of_round_2_goal.goal }}</h3>
        {% endif %}
    </div> 
    <div class="round">
        <h1>Round 3</h1>
        {% if board.end_of_round_3_goal %}
            <h3>{{ board.end_of_round_3_goal.goal }}</h3>
        {% endif %}
    </div>
    <div class="round">
        <h1>Round 4</h1>
        {% if board.end_of_round_4_goal %}
            <h3>{{ board.end_of_round_4_goal.goal }}</h3>
        {% endif %}
    </div>
</div>
