{% load static %}
{% load card_info %}

<link rel="stylesheet" href="{% static 'aviary/board.css' %}">

<div class="board">
    <div class="forest">{% card_info bird=board.forest_1 %}</div>
    <div class="forest">{% card_info bird=board.forest_1 %}</div>
    <div class="forest">{% card_info bird=board.forest_1 %}</div>
    <div class="forest">{% card_info bird=board.forest_1 %}</div>
    <div class="forest">{% card_info bird=board.forest_1 %}</div>
    <div class="grassland">{% card_info bird=board.forest_1 %}</div>
    <div class="grassland">{% card_info bird=board.forest_1 %}</div>
    <div class="grassland">{% card_info bird=board.forest_1 %}</div>
    <div class="grassland">{% card_info bird=board.forest_1 %}</div>
    <div class="grassland">{% card_info bird=board.forest_1 %}</div>
    <div class="wetland">{% card_info bird=board.forest_1 %}</div>
    <div class="wetland">{% card_info bird=board.forest_1 %}</div>
    <div class="wetland">{% card_info bird=board.forest_1 %}</div>
    <div class="wetland">{% card_info bird=board.forest_1 %}</div>
    <div class="wetland">{% card_info bird=board.forest_1 %}</div>
</div>