{% load static %}

<link rel="stylesheet" href="{% static 'aviary/index.css' %}">

<div class="board">
  <div class="forest">
    <p>{{ board.forest_1.name }}</p>
    <img src="{% static 'aviary/left_facing.jpg' %}" alt="{{ board.forest_1.name }}"/>
  </div>
  <div class="forest">2</div>
  <div class="forest">3</div>
  <div class="forest">4</div>
  <div class="forest">5</div>
  <div class="grassland">6</div>
  <div class="grassland">7</div>
  <div class="grassland">8</div>
  <div class="grassland">9</div>
  <div class="grassland">10</div>
  <div class="wetland">11</div>
  <div class="wetland">12</div>
  <div class="wetland">13</div>
  <div class="wetland">14</div>
  <div class="wetland">15</div>
</div>